
@import "colors";


@media only screen and (min-width: 20em) {
    html {
        background: url("desertimg2.png") no-repeat;
        background-attachment: fixed, scroll;
        background-position: center;
        background-size: 175%;
    }
        
         h1 {
             background: url("desertlogo2.JPG") no-repeat;
             background-position: 1.25em 0em;
             background-size: 80%;
         }   
}

@media only screen and (min-width: 32em) {
    html {
        background: url("desertimg2.png") no-repeat;
        background-attachment: fixed, scroll;
        background-position: 1.5em 2.25em;
        background-size: 125%;
    }
        
         h1 {
             background: url("desertlogo2.JPG") no-repeat;
             background-position: 1.5em 0;
             background-size: 80%;
         }   
}

@media only screen and (min-width: 64em) {

    html {
        background: url("desertimg2.png") no-repeat;
        background-attachment: fixed, scroll;
        background-position: 2em 11em;
        background-size: 125%;
    }
    
     h1 {
         display: block;
         background: url("desertlogo2.JPG") no-repeat;
         background-position: 1.25em 0em;
         background-size: 85%;

     }   
    }