/*images styling layout*/
//small
@media only screen and (max-width: 490px) {

.banner {
    background-image: url("images/desertimg.png");
    position: fixed;
    opacity: .5;
}

 h1 ::before{
     content: url("images/desertlogo.jpg");
     position: fixed;
     max-width: 15%;
 }   


}

//large
/*.logo1{
    border: transparent;
    border-radius: 50%;
    max-width: 10%;
    position: fixed;
}

.desert1{
    margin-left: 50%;
    opacity: .5;
    position: fixed;
}*/