/*content style page layout*/
@import "colors";
@import "fonts";

h2, .summary h3, 
.preamble h3, 
.explanation h3, 
.participation h3, 
.benefits h3, 
.requirements h3 {
    font-family: $header;
    border: 2px solid $green;
    background-color: $blue;
    border-radius: 5px;
    box-shadow: 5px 7px 12px rgb(73, 73, 73);
    margin: 2em auto 2em auto;
    text-align: center;
    transform: skew(-20deg);
    padding: 1em;
}

.summary p, .preamble p, .explanation p, .participation p, .benefits p, .requirements p {
    background: $green;
    border: solid transparent;
    border-radius: 5px;
    box-shadow: 5px 3px 12px rgb(73, 73, 73);
    color: $cream;
    padding: 1em;
    & a {
        color: $orange;
        font-weight: 600;
        text-decoration: none;
    }

}

p {
    font-family: $primary;
    font-size: 18px;
    font-weight: 400;
}

footer {
    max-width: 100%;
    height: 100%;
    background-color: $blue;
    text-align: center;
    padding: 1em;
    & a {
        color: black;
        font-family: $header;
        font-size: 1.25em;
        font-weight: 900;
    }
}

@media only screen and (min-width: 20em){
/*Small*/

h1{
    font-size: 1.75em;
    font-family: $primary;
    text-align: center;
    padding: 2.5em 1em .5em 1em;
}

h2, .summary h3, 
.preamble h3, 
.explanation h3, 
.participation h3, 
.benefits h3, 
.requirements h3 {
    font-size: 1.15em;
    width: 80%;
    height: 1em;
}

p {
    font-size: 16px;
}

.intro {
    text-align: center;
}
footer a {
    font-size: 1em;
    padding: 0 10px 0 10px;
}
}

@media only screen and (min-width: 32em) {
    body {
        max-width: 28em;
        float: right;
        padding: 0 1em 1em 1em;

    }
    h1{
        font-size: 1.75em;
        font-family: $primary;
        text-align: center;
        padding: 4em 1em .5em 1em;
    }
}
/*Large*/
@media only screen and (min-width: 64em) {

    body {
        max-width: 65%;
        float: right;
        padding: 4em;
    }

    h1{
        font-size: 3em;
        padding-top: 4em;
    }

    h2, .summary h3, 
    .preamble h3, 
    .explanation h3, 
    .participation h3, 
    .benefits h3, 
    .requirements h3 {
        font-size: 1.75em;
        width: 100%;
        height: 1em;
    }

    p {
        font-size: 1.5em;
    }

    div {
        padding: 0 1.5em 0 1.5em;
    }

    footer a {
        font-size: 1.5em;
        padding: 0 20px 0 20px;
    }
}
