/*content style page layout*/
/*Small*/
body{
    max-width: 150vw;

}
h1{
    text-align: center;
    padding-top: 1em;
}

h2{
    padding-top: 1em;
}
.intro {
    text-align: center;
}
section {
    background-color: #8FBACC;
    padding: 1em;
}


/*Medium*/
/*@include MQ(M) {

.intro{
    text-align: center;
    padding: 2em;
}
}*/
/*Large*/
