/*media screen*/
$S: 450px;
$M: 650px;
$L: 1000px;

@mixin MQ($size) {
    @if $size == S {
     @media only screen and (max-width: $S) { @content; } 
    }
    @else if $size == M {
     @media only screen and (min-width: $M) { @content; } 
    }
    @else if $size == L {
     @media only screen and (min-width: $L) { @content; } 
    }
  }