/*side bar styling layout*/
.design-selection li,
.design-name,
.designer-name,
.design-archives a,
.zen-resources a {
  font-family: $primary;
  color: $cream;
  text-decoration: none;
  padding: .05em;
  position: sticky;
}

h3 {
  font-family: $header;
  color: $orange;
}

.wrapper {
  //this will be used for the final results
  background-color: $green;
  width: 88%;
  padding: 0 3vw 0 3vw;

  ul {
    list-style-type: none;
    padding-left: 5vw;
  }

  @include MQ(M) {
    width: 30vw;
    position: absolute;
    left: 0;
    top: 0;

  }

}

.sidebar {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -155vw;
  top: 0;
  width: 170vw;
  height: 50px;
  // used for testing purposes
  background-color: $green;

  &::after {
    content: "≡";
    cursor: pointer;
    font-size: 2.5em;
    color: $orange;
    position: fixed;
    left: 0vw;
    top: 0;
    width: 70vw;
    height: 10vh;


    pointer-events: none;
    width: 15vw;
    text-align: center;
    padding-right: .5em;
    transition: .5s;
  }

  @include MQ(M) {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "≡";
      cursor: pointer;
      font-size: 2.5em;
      color: $black;
      position: fixed;
      left: 0vw;
      top: 0;
      pointer-events: none;
      width: 15vw;
      text-align: center;
      padding-right: .5em;
      transition: .5s;
    }

    @include MQ(M) {
      width: 30vw;
      position: absolute;
      left: 0;
      top: 0;

      &::after {
        display: none;
      }

    }
  }
}

.sidebar:hover {
  position: fixed;
  left: 0;
  width: 80vw;
  height: 100vh;
  transition: 1s;


  &::before {
    content: "";
    //background: linear-gradient(to top right, $green, $red, $orange, $blue 85%, );
    position: fixed;
    left: 60vw;
    transition: 1s;
    left: 0;
    top: 0;
    width: 97vw;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }

  &::after {
    content: "X";
    cursor: pointer;
    font-size: 5vh;
    padding: 0 2vw;
    border-radius: 1em;
    color: $black;
    background-color: $cream;
    position: absolute;
    left: 85vw;
    top: 1vh;
    pointer-events: none;
    width: fit-content;
    text-align: center;
  }

  @include MQ(M) {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "X";
      cursor: pointer;
      font-size: 5vh;
      padding: 0 2vw;
      border-radius: 1em;
      color: $black;
      background-color: $cream;
      position: absolute;
      left: 38vw;
      top: 1vh;
      pointer-events: none;
      width: fit-content;
      text-align: center;
    }

    @include MQ(M) {
      max-width: 30vw;
      position: absolute;
      left: 0;
      top: 0;

      &::after {
        display: none;
      }

    }
  }
}

@include MQ(M) {
  .wrapper {
    width: 28vw;
    position: fixed;
    box-shadow: 
    4px 4px 12px $black,
    20px 20px 0px $blue;
  }
}

@include MQ(L) {
  .wrapper {
    width: 24vw;
    position: fixed;
    box-shadow: 
    4px 4px 12px $black,
    25px 25px 0px $blue;
    padding: 3vw;
  &::before {
    content: "Menu";
    font-size: 1.5em;
    font-family: $header;
    font-weight: 700;    
    color: $orange;


  }  
  }
  .sidebar:hover {
    pointer-events: none;
  }
}