/*side bar styling layout*/
.wrapper {
  //this will be used for the final results
  background-color: transparent;
  width: 88%;
  padding-left: 5vw;

  ul {
    list-style-type: none;
    padding-left: 5vw;
  }

}

.sidebar {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -155vw;
  top: 0;
  width: 170vw;
  height: 50px;
  // used for testing purposes
  background-color: transparent;

  .design-selection li,
  .design-name,
  .designer-name,
  .design-archives a,
  .zen-resources a {
    color: $cream;
    text-decoration: none;
    padding: .05em;
  }

  h3 {
    color: rgb(255, 217, 0);
  }

  &::after {
    content: "≡";
    cursor: pointer;
    font-size: 2.5em;
    color: $orange;
    position: fixed;
    left: 0vw;
    top: 0;
    width: 70vw;
    height: 10vh;


    pointer-events: none;
    width: 15vw;
    text-align: center;
    padding-right: .5em;
    transition: .5s;
  }

  @include MQ(S) {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "≡";
      cursor: pointer;
      font-size: 2.5em;
      color: $black;
      position: fixed;
      left: 0vw;
      top: 0;
      pointer-events: none;
      width: 15vw;
      text-align: center;
      padding-right: .5em;
      transition: .5s;
    }

    @include MQ(S) {
      max-width: 30vw;
      position: absolute;
      left: 0;
      top: 0;

      &::after {
        display: none;
      }

    }
  }
}

.sidebar:hover {
  position: fixed;
  left: 0;
  width: 80vw;
  height: 100vh;
  transition: 1s;


  &::before {
    content: "";
    background: linear-gradient(to top right, $green, $red, $orange, $blue 85%, );
    position: fixed;
    left: 60vw;
    transition: 1s;
    left: 0;
    top: 0;
    width: 97vw;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }

  &::after {
    content: "X";
    cursor: pointer;
    font-size: 5vh;
    padding: 0 2vw;
    border-radius: 1em;
    color: $black;
    background-color: $cream;
    position: absolute;
    left: 85vw;
    top: 1vh;
    pointer-events: none;
    width: fit-content;
    text-align: center;
  }

  @include MQ(S) {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "X";
      cursor: pointer;
      font-size: 5vh;
      padding: 0 2vw;
      border-radius: 1em;
      color: $black;
      background-color: $cream;
      position: absolute;
      left: 38vw;
      top: 1vh;
      pointer-events: none;
      width: fit-content;
      text-align: center;
    }

    @include MQ(S) {
      max-width: 30vw;
      position: absolute;
      left: 0;
      top: 0;

      &::after {
        display: none;
      }

    }
  }
}


@include MQ(L) {
  .wrapper {
    width: 25vw;
    margin-left: -5vw;

    .sidebar {
      background: linear-gradient(to top right, $green, $red, $orange, $blue 85%, );
      height: 100%;
      width: 5vw;

      
    }

    .sidebar:hover {
      pointer-events: none;

      &::before {
        content: "";
        background: transparent;
      }
    }
  }

}

@include MQ(M) {
  .sidebar {
    background: linear-gradient(to top right, $green, $red, $orange, $blue 85%, );
    height: 100%;
  }

  .sidebar:hover {
    pointer-events: none;

    &::before {
      content: "";
      background: transparent;
    }
  }

}