$cooler-1: #8fbacc; 
$cooler-2: #155149;
$cooler-3: #f7eac9;
$cooler-4: #f29040;
$cooler-5: #a23216;

//styleguide given colors. Not theme related
$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white