@charset "UTF-8";
/*main scss for styling project*/
/*content style page layout*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
body {
  max-width: 64em;
}

h2, .summary h3,
.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  border: 2px solid #155149;
  background-color: #6aa7c2;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 12px #494949;
          box-shadow: 5px 7px 12px #494949;
  margin: 2em auto 2em auto;
  text-align: center;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  padding: 1em;
}

.summary p, .preamble p, .explanation p, .participation p, .benefits p, .requirements p {
  background: #155149;
  border: solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 5px 3px 12px #494949;
          box-shadow: 5px 3px 12px #494949;
  color: #F7EAC9;
  padding: 1em;
}

.summary p a, .preamble p a, .explanation p a, .participation p a, .benefits p a, .requirements p a {
  color: #F29040;
  font-weight: 600;
  text-decoration: none;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

footer {
  float: left;
  background-color: #6aa7c2;
  border-radius: 5px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

footer a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  font-weight: 900;
}

@media only screen and (min-width: 20em) {
  /*Small*/
  h1 {
    font-size: 1.75em;
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 2.5em 1em .5em 1em;
  }
  h2, .summary h3,
  .preamble h3,
  .explanation h3,
  .participation h3,
  .benefits h3,
  .requirements h3 {
    font-size: 1.15em;
    width: 80%;
    height: 1em;
  }
  p {
    font-size: 16px;
  }
  .intro {
    text-align: center;
  }
  footer {
    padding: .5em;
    margin: 1em auto 1em auto;
  }
  footer a {
    font-size: 1em;
    padding: 0 10px 0 10px;
  }
}

@media only screen and (min-width: 32em) {
  body {
    max-width: 28em;
    float: right;
    padding: 0 1em 1em 1em;
  }
  h1 {
    font-size: 1.75em;
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 4em 1em .5em 1em;
  }
  footer {
    font-size: 1em;
    max-width: 30vw;
    padding: .5em;
  }
  footer::after {
    content: "";
    -webkit-box-shadow: 42px 0px 0 0 #6aa7c2, 62px 0px 0 0 #6aa7c2, 110px 0px 0 0 #6aa7c2;
            box-shadow: 42px 0px 0 0 #6aa7c2, 62px 0px 0 0 #6aa7c2, 110px 0px 0 0 #6aa7c2;
    margin-left: 1.5em;
    padding: 1.40em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
  }
  /*Large*/
}

@media only screen and (min-width: 32em) and (min-width: 67em) {
  body {
    max-width: 65%;
    float: right;
    padding: 4em;
  }
  h1 {
    font-size: 3em;
    padding-top: 3em;
  }
  h2, .summary h3,
  .preamble h3,
  .explanation h3,
  .participation h3,
  .benefits h3,
  .requirements h3 {
    font-size: 1.5em;
    width: 75%;
    height: 1em;
  }
  p {
    font-size: 1.5em;
  }
  div {
    padding: 0 1.5em 0 1.5em;
  }
  footer {
    max-width: 25vw;
    padding: 1em;
  }
  footer::after {
    content: "";
    border-radius: 5px;
    -webkit-box-shadow: 42px 0px 0 0 #6aa7c2, 75px 0px 0 0 #6aa7c2, 95px 0px 0 0 #6aa7c2, 150px 0px 0 0 #6aa7c2, 180px 0px 0 0 #6aa7c2, 235px 0px 0 0 #6aa7c2, 250px 0px 0 0 #6aa7c2, 310px 0px 0 0 #6aa7c2;
            box-shadow: 42px 0px 0 0 #6aa7c2, 75px 0px 0 0 #6aa7c2, 95px 0px 0 0 #6aa7c2, 150px 0px 0 0 #6aa7c2, 180px 0px 0 0 #6aa7c2, 235px 0px 0 0 #6aa7c2, 250px 0px 0 0 #6aa7c2, 310px 0px 0 0 #6aa7c2;
    margin-left: 8%;
    padding: 1.40em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
  }
  footer a {
    font-size: 1em;
    font-weight: 900;
  }
}

/*media screen*/
@media only screen and (min-width: 20em) {
  html {
    background: url("desertimg2.png") no-repeat;
    background-attachment: fixed, scroll;
    background-position: -7em 0;
    background-size: 175%;
  }
  h1 {
    background: url("desertlogo2.JPG") no-repeat;
    background-position: 1.5em 0em;
    background-size: 80%;
  }
}

@media only screen and (min-width: 32em) {
  html {
    background: url("desertimg2.png") no-repeat;
    background-attachment: fixed, scroll;
    background-position: 9em 0em;
    background-size: 100%;
  }
  h1 {
    background: url("desertlogo2.JPG") no-repeat;
    background-position: 1.5em 0;
    background-size: 80%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    background: url("desertimg2.png") no-repeat;
    background-attachment: fixed, scroll;
    background-position: 13em 0em;
    background-size: 100%;
  }
  h1 {
    display: block;
    background: url("desertlogo2.JPG") no-repeat;
    background-position: 2.25em 0em;
    background-size: 65%;
  }
}

/*side bar styling layout*/
/* test styling*/
.design-selection li,
.design-name,
.designer-name,
.design-archives a,
.zen-resources a {
  color: #F7EAC9;
  text-decoration: none;
  padding: .05em;
}

/*headings styling*/
h3 {
  color: #ffd900;
}

/*main contianer styling*/
.wrapper {
  background-color: red;
  width: 88%;
  padding-left: 5vw;
}

.wrapper ul {
  list-style-type: none;
  padding-left: 5vw;
}

@media only screen and (min-width: 32em) {
  .wrapper {
    min-width: 32em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -155vw;
  top: 0;
  width: 170vw;
  height: 50px;
  background-color: green;
}

.sidebar::after {
  content: "≡";
  cursor: pointer;
  font-size: 2.5em;
  color: #F29040;
  position: fixed;
  left: 0vw;
  top: 0;
  width: 70vw;
  height: 10vh;
  pointer-events: none;
  width: 15vw;
  text-align: center;
  padding-right: .5em;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (min-width: 32em) {
  .sidebar {
    min-width: 32em;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar::after {
    content: "≡";
    cursor: pointer;
    font-size: 2.5em;
    color: #000000;
    position: fixed;
    left: 0vw;
    top: 0;
    pointer-events: none;
    width: 15vw;
    text-align: center;
    padding-right: .5em;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media only screen and (min-width: 32em) and (min-width: 32em) {
  .sidebar {
    min-width: 32em;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar::after {
    display: none;
  }
}

.sidebar:hover {
  position: fixed;
  left: 0;
  width: 80vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.sidebar:hover::before {
  content: "";
  position: fixed;
  left: 60vw;
  -webkit-transition: 1s;
  transition: 1s;
  left: 0;
  top: 0;
  width: 97vw;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.sidebar:hover::after {
  content: "X";
  cursor: pointer;
  font-size: 5vh;
  padding: 0 2vw;
  border-radius: 1em;
  color: #000000;
  background-color: #F7EAC9;
  position: absolute;
  left: 85vw;
  top: 1vh;
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

@media only screen and (min-width: 32em) {
  .sidebar:hover {
    min-width: 32em;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar:hover::after {
    content: "X";
    cursor: pointer;
    font-size: 5vh;
    padding: 0 2vw;
    border-radius: 1em;
    color: #000000;
    background-color: #F7EAC9;
    position: absolute;
    left: 38vw;
    top: 1vh;
    pointer-events: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
}

@media only screen and (min-width: 32em) and (min-width: 32em) {
  .sidebar:hover {
    min-width: 32em;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar:hover::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */