@charset "UTF-8";
/*main scss for styling project*/
/*content style page layout*/
/*Small*/
body {
  max-width: 150vw;
}

h1 {
  text-align: center;
  padding-top: 3em;
}

h2 {
  padding-top: 1em;
}

.intro {
  text-align: center;
}

/*Large*/
@media only screen and (min-width: 64em) {
  body {
    max-width: 64em;
    float: right;
    padding: 2em;
  }
  h1 {
    padding-top: 6em;
  }
  h2, h3 {
    font-size: 18px;
    border: 5px solid #8FBACC;
    border-radius: 5px;
    width: 24em;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
    padding: 1em;
  }
  div {
    padding: 0 1.5em 0 1.5em;
  }
}

/*media screen*/
body {
  background: url("desertimg2.png") no-repeat;
  background-attachment: fixed, scroll;
  background-position: right;
  background-size: 100%;
}

h1 {
  background: url("/styles/desertlogo2.JPG") no-repeat;
  background-position: center;
  background-size: 50%;
}

@media only screen and (min-width: 64em) {
  body {
    background: url("desertimg2.png") no-repeat;
    background-attachment: fixed, scroll;
    background-position: right;
    background-size: 50%;
  }
  h1 {
    display: block;
    background: url("/styles/desertlogo2.JPG") no-repeat;
    background-position: center;
    background-size: 35%;
  }
}

/*side bar styling layout*/
.wrapper {
  background-color: transparent;
  width: 88%;
  padding-left: 5vw;
}

.wrapper ul {
  list-style-type: none;
  padding-left: 5vw;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -155vw;
  top: 0;
  width: 170vw;
  height: 50px;
  background-color: transparent;
}

.sidebar .design-selection li,
.sidebar .design-name,
.sidebar .designer-name,
.sidebar .design-archives a,
.sidebar .zen-resources a {
  color: #F7EAC9;
  text-decoration: none;
  padding: .05em;
}

.sidebar h3 {
  color: #ffd900;
}

.sidebar::after {
  content: "≡";
  cursor: pointer;
  font-size: 2.5em;
  color: #F29040;
  position: fixed;
  left: 0vw;
  top: 0;
  width: 70vw;
  height: 10vh;
  pointer-events: none;
  width: 15vw;
  text-align: center;
  padding-right: .5em;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (min-width: 35em) {
  .sidebar {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar::after {
    content: "≡";
    cursor: pointer;
    font-size: 2.5em;
    color: #000000;
    position: fixed;
    left: 0vw;
    top: 0;
    pointer-events: none;
    width: 15vw;
    text-align: center;
    padding-right: .5em;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media only screen and (min-width: 35em) and (min-width: 35em) {
  .sidebar {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar::after {
    display: none;
  }
}

.sidebar:hover {
  position: fixed;
  left: 0;
  width: 80vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.sidebar:hover::before {
  content: "";
  background: -webkit-gradient(linear, left bottom, right top, from(#155149), color-stop(#A23216), color-stop(#F29040), color-stop(85%, #8FBACC));
  background: linear-gradient(to top right, #155149, #A23216, #F29040, #8FBACC 85%);
  position: fixed;
  left: 60vw;
  -webkit-transition: 1s;
  transition: 1s;
  left: 0;
  top: 0;
  width: 97vw;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.sidebar:hover::after {
  content: "X";
  cursor: pointer;
  font-size: 5vh;
  padding: 0 2vw;
  border-radius: 1em;
  color: #000000;
  background-color: #F7EAC9;
  position: absolute;
  left: 85vw;
  top: 1vh;
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

@media only screen and (min-width: 35em) {
  .sidebar:hover {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sidebar:hover::after {
    content: "X";
    cursor: pointer;
    font-size: 5vh;
    padding: 0 2vw;
    border-radius: 1em;
    color: #000000;
    background-color: #F7EAC9;
    position: absolute;
    left: 38vw;
    top: 1vh;
    pointer-events: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
}

@media only screen and (min-width: 35em) and (min-width: 35em) {
  .sidebar:hover {
    max-width: 30vw;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  .sidebar:hover::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */